
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 1200px;
    width: 1200px;
    border: 10px solid rgb(4, 4, 48);
    margin: 0 auto;
    background-color: rgb(230, 215, 244);
    padding: 5px 30px;
    
}

.bio {
    display: flex;
    justify-content: space-between;
    
}

.bio img {
    width: 314px;
    height: 392px;
    margin-top: 113px;
    margin-left: 50px;
    border-radius: 170px;
}

.text {
    height: 100px;
    width: 45%;
    margin-top: 36%;
}

.name {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.date {
    font-size: 1.8rem;
    margin-left: 65%;
}

.history h1{
    margin: 50px 0px 0px 50px;
    font-size: 5rem;
    width: 700px;
    height: 100px;
    font-weight: 500;
}

.biography {
    margin: 0px 50px 0px 50px;
    
}

.final {
    margin: 50px 0px 100px 50px;
}

.list {
    margin: 20px 0px 0px 50px;
    margin-left: 50px;
}

.list li {
    font-size: medium;

}

footer {
    display: flex;
    justify-content: end;
    align-items: end;
}

.footer a {
    text-decoration: none;
    font-size: 1rem;
    color: blue;
}

